html, body{
	font-family: 'Quicksand', sans-serif;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

h1.fancy{
	font-family: 'Pacifico', cursive;
}

.panel{
	position:relative;

	#ct-welcome {
		width:100%;
		max-width:500px;
		position:absolute;
		bottom:20px;
		left:20px;
	}
}